.inclusively-hidden {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.rank-badge {
  justify-self: end;
  background-color: var(--background);
  width: 5ch;
  height: 5ch;
  line-height: 4ch;
  display: grid;
  place-content: center;
  border-radius: 50%;
  border: 1px solid black;
  font-weight: bold;
  font-size: 1.25rem;
  } 
  .first{
    background-color: gold;
  }

  .second{
    background-color: silver;
  }

  .third{ 
    background-color: #cd7f32;
  }

// .rank-badge {
//   justify-self: end;
//   background-color: var(--background);
//   font-size: 0.8em;
//   padding: 0.25em;
//   border-radius: 50%;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
// }